cv==1.0.0
fonttools==4.38.0
kiwisolver==1.4.4
packaging==21.3
numpy==1.19.4
opencv_python==3.4.11.39
scipy==1.7.3
streamlit==0.80.0
opencv-python-headless==4.5.4.60
textblob==0.15.3
scipy==1.6.1
pytesseract==0.3.7
nltk==3.5
pandas==1.2.2
pytesseract==0.3.10
pywhatkit==5.4
kiwisolver==1.4.4 





