cv==1.0.0
fonttools==4.38.0
kiwisolver==1.4.4
packaging==21.3
numpy==1.23.4
opencv_python==3.4.11.39
streamlit==0.80.0
opencv-python-headless==4.5.4.60
pytesseract==0.3.7
pytesseract==0.3.10
pywhatkit==5.4
kiwisolver==1.4.4
six==1.16.0





